body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: cadetblue;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.container {
  background-color: bisque;
  width: 50%;
  height: 30rem;
  margin-top: 5rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center; }
  .container-data {
    margin-top: 5rem; }

.pokemonNameInput {
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 10px; }
  .pokemonNameInput:focus {
    outline: none; }

.pokemonNameBtn {
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10px; }

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .pokemonNameDisplay {
    display: block;
    font-weight: 400; }

img {
  width: 5rem;
  height: 5rem; }
